name: Deploy Webhook Proxy

on:
  push:
    branches:
      - main

env:
  ECR_REPO: github-webhook

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: dokploy-x64
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Create Cache Dir
        run: mkdir -p /tmp/.buildx-cache-app

      - name: Docker Cache
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache-app
          key: ${{ runner.os }}-buildx-app-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-app

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: |
          npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::850516079625:role/github-webhook-proxy
          aws-region: us-west-1

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        
      - name: Build Image
        uses: docker/build-push-action@v6
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        with:
          context: .
          push: true
          provenance: false
          platforms: linux/arm64
          cache-from: type=local,src=/tmp/.buildx-cache-app
          cache-to: type=local,dest=/tmp/.buildx-cache-app-new,mode=max
          tags: |
            ${{ env.ECR_REGISTRY}}/${{ env.ECR_REPO }}:latest
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO }}:${{ github.sha }}

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache-app
          mv /tmp/.buildx-cache-app-new /tmp/.buildx-cache-app

      - name: Deploy Lambda
        uses: aws-actions/aws-lambda-deploy@v1.1.0
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        with:
          function-name: github-webhook
          package-type: Image
          image-uri: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO }}:latest
